/*primero importo utilities*/
/*luego importo lo de base*/
.nav-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 1rem 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.3rem;
  margin-top: 1rem;
}
nav ul li a {
  font-family: "Hanuman";
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

nav #toggle, nav label {
  display: none;
}

@media (max-width: 768px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem 0;
  }
  nav label {
    display: flex;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
}
footer {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: orange;
  background-size: cover;
}

.logoig {
  display: flex;
}

main {
  background-image: url(../assets/img/fondo\ naranja\ pajaro\ intervalo.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*RESPONSIVE*/
.div-pag-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-pag-principal div {
  text-align: left;
}
.div-pag-principal div .titulo-inicio {
  font-family: "Akshar";
  font-size: 1.875rem;
  font-weight: 400;
}
.div-pag-principal div .subtitulo-inicio {
  font-family: "Cinzel";
  font-size: 1.5rem;
}

.portada-pag-principal {
  display: inline;
  width: 30rem;
  height: 30rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*RESPONSIVE*/
.main-contacto {
  height: 100%;
}
.main-contacto .titulo-contacto {
  font-family: "Akshar";
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding-top: 2.5rem;
}
.main-contacto form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.9375rem;
}
.main-contacto form div {
  width: 37.5rem;
}
.main-contacto .pronta-respuesta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Akshar";
  font-size: 2rem;
}
.main-contacto .mail-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Akshar";
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

/*RESPONSIVE*/
.main-nos {
  grid-area: main-nos;
}
.main-nos .titulo-nosotros {
  font-family: "Akshar";
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding-top: 2.5rem;
  margin-bottom: 1rem;
}
.main-nos .parrafo-nosotros {
  text-transform: lowercase;
  font-family: "Akshar";
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}
.main-nos .nos-con {
  padding-bottom: 2rem;
  font-family: "Hanuman";
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nos {
  grid-area: footer-nos;
}

main .titulo-galeria {
  font-family: "Akshar";
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 2.5rem;
}
main .w-75 {
  justify-content: center;
}
main .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .carousel .carousel-inner {
  width: 43.75rem;
  border: 0.3rem solid rgb(0, 0, 0);
  border-radius: 2rem;
}
main .d-block {
  justify-content: center;
  align-items: center;
}
main .pro1, main .pro3, main .pro2 {
  font-family: "Hanuman";
  text-decoration: none;
  color: rgb(151, 149, 149);
  font-size: 1.25;
  padding: 0.39rem;
  border-radius: 0.625rem;
  opacity: 0.5;
  background-color: rgb(31, 31, 31);
}
main .pro1:hover, main .pro3:hover, main .pro2:hover {
  opacity: 1;
  color: rgb(255, 255, 255);
  border: 3px solid rgb(0, 0, 0);
  transition: all 1s;
}
main .jerodechico {
  position: relative;
  overflow: hidden;
}
main .jerodechico img {
  bottom: 50%;
  transform: translate(0%, -25%);
}
main .subtitulo-galeria {
  display: flex;
  justify-content: center;
  font-family: "Akshar";
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1.5rem;
  text-decoration: underline;
  color: black;
  margin-top: 1rem;
  position: relative;
}

/*RESPONSIVE*/
.seccion-cards1, .seccion-cards2, .seccion-cards3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
}
.seccion-cards1 .img1, .seccion-cards2 .img1, .seccion-cards3 .img1, .seccion-cards1 .img9, .seccion-cards2 .img9, .seccion-cards3 .img9, .seccion-cards1 .img8, .seccion-cards2 .img8, .seccion-cards3 .img8, .seccion-cards1 .img7, .seccion-cards2 .img7, .seccion-cards3 .img7, .seccion-cards1 .img6, .seccion-cards2 .img6, .seccion-cards3 .img6, .seccion-cards1 .img5, .seccion-cards2 .img5, .seccion-cards3 .img5, .seccion-cards1 .img4, .seccion-cards2 .img4, .seccion-cards3 .img4, .seccion-cards1 .img3, .seccion-cards2 .img3, .seccion-cards3 .img3, .seccion-cards1 .img2, .seccion-cards2 .img2, .seccion-cards3 .img2 {
  width: 5rem;
  height: 5rem;
  border-radius: 15px;
}
.seccion-cards2, .seccion-cards3 {
  margin-top: 3rem;
}

.seccion-cards3 {
  padding-bottom: 3rem;
}

.titulo-perfiles {
  font-family: "Akshar";
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 2.5rem;
}

.card {
  width: 18rem;
  height: 22rem;
  background: #245474;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}
.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}
.card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}
.card .img {
  width: 4.8em;
  height: 4.8em;
  background: white;
  border-radius: 15px;
  margin: auto;
}
.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.card a {
  color: white;
  transition: 0.4s ease-in-out;
  margin-bottom: 2rem;
}
.card a:hover {
  color: red;
  scale: 1.5;
}

.a8:hover, .card:hover {
  background: rgb(72, 120, 209);
}

.subtitulo-perfiles {
  margin: 0%;
  display: flex;
  justify-content: center;
  font-family: "Akshar";
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1.5rem;
}
.subtitulo-perfiles a {
  text-decoration: underline;
  color: black;
}

@media (max-width: 1024px) {
  main {
    width: 100vw;
  }
}
@media (max-width: 768px) {
  main {
    width: 100vw;
    height: 100%;
  }
  footer {
    padding: 2rem;
    justify-content: center;
    align-items: center;
  }
  .parrafo-nosotros {
    font-size: 1.6rem;
  }
  .seccion-index .div-pag-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seccion-index .div-pag-principal div {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .seccion-index .div-pag-principal div .subtitulo-inicio {
    margin-top: 0;
  }
  .seccion-index .div-pag-principal .portada-pag-principal {
    width: 18rem;
    height: 18rem;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .main-contacto form div {
    width: 20rem;
  }
  .seccion-cards1, .seccion-cards2, .seccion-cards3 {
    flex-direction: column;
  }
  .carousel .carousel-inner {
    width: auto;
    height: auto;
    border: 0.3rem solid rgb(0, 0, 0);
    border-radius: 2rem;
  }
}
@media (max-width: 375px) {
  .pronta-respuesta {
    font-size: 1.5rem;
  }
  .main-contacto form div {
    width: 16rem;
  }
}
@media (max-width: 320px) {
  .div-pag-principal div {
    margin: auto;
  }
  .div-pag-principal .portada-pag-principal {
    width: 18rem;
    height: 18rem;
    margin: 0;
  }
  footer {
    gap: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
