footer{
    display: flex;
    gap: .3125rem;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: orange;
    background-size: cover;
}
.logoig{
    display: flex;
} 
