header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    z-index:2;
    div{
        display: flex;
        nav{
            .navbar{
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                gap: 1rem;
                padding-top: 2rem;
                li{
                    a{
                        font-family: 'Hanuman';
                        text-decoration: none;
                        color: black;
                        font-size: 1.5625rem;
                    }
                }
            }
        }
    }
}