/*RESPONSIVE*/


    .main-nos{
        grid-area: main-nos;
        .titulo-nosotros{
            font-family: 'Akshar';
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 400 ;
            text-align: center;
            padding-top: 2.5rem;
            margin-bottom: 1rem;
        }
        .parrafo-nosotros{
            text-transform: lowercase;
            font-family: 'Akshar';
            font-size: 2rem;
            text-align: center;
            font-weight: 400;
        }
        .nos-con{
            padding-bottom: 2rem;
            font-family: 'Hanuman';
            font-size: 2.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .footer-nos{
        grid-area: footer-nos;
    }
    
