@media(max-width: 425px){
    header{
        flex-direction: column;
        position: relative;
    }
    .navbar{
        flex-direction: column;

    }
    .main-contacto form div{
        width: 20rem;
    }
    .seccion-cards1{
        flex-direction: column;
    }
    .carousel{
        .carousel-inner{
            width: auto;
            height: auto;
            border: .3rem solid $color-boton;
            border-radius: 2rem;
            
        }
    }

}