@media(max-width: 320px){
    .div-pag-principal{
        div{
            margin: auto;
        }
        .portada-pag-principal{
            width: 18rem;
            height: 18rem;
            margin: 0;
        }
    }
}